body {
	min-width: 450px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	background: #184d89;
	background: linear-gradient(45deg, #ea5959 0%, #184d89 100%);
	background-repeat: no-repeat;
	color: #000000;
	background-attachment: fixed;
}

.flex-item {
}
.flex-item:nth-child(2) {
}

textarea {
	width: 100%;
	/* background-color: rgba(255, 255, 255, 0.5); */
	/* border-color: rgba(0, 0, 0, 0); */
	resize: vertical;
	max-height: 150px;
	min-height: 30px;
	/* transition: all .2s ease; */
}

textarea#translatedText {
	background: #f5f5f5;
}