body {
   min-width: 450px;
   color: #000000;
   padding: 10px;
   /* font-size: 1em; */
}

a {
   color: #3d3d3d;
   /* text-decoration: none; */
}

.container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.container>.container {
   flex-direction: row;
   justify-content: space-between;
   padding: 10px 0;
}

div.item {
   position: relative;
}

input,
select {
   font-size: 1.1em;
}

textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   /* border-color: rgba(0, 0, 0, 0); */
   resize: vertical;
   max-height: 150px;
   min-height: 30px;
   font-size: 13px;
}

textarea.translated-out {
   background-color: #f5f5f5;
   max-height: 250px;
}

.disabled,
.disabled[disabled] {
   opacity: .4;
   cursor: default !important;
   pointer-events: none;
}

.playVoice {
   opacity: 1 !important;
   position: absolute;
   right: 0;
   bottom: 0;
   width: 18px;
   height: 18px;
   text-decoration: none;
   overflow: hidden;
   padding-left: 5px;
   outline: none;
   /* transition: all .2s ease; */
}

.playVoice:not(:hover) {
   transition: 3s;
}

.playVoice:hover {
   outline: 1px solid #cacaca;
}

.playVoice:active {
   background: rgb(0, 162, 255);
   color: #ffffff;
}

.playVoice>* {
   font-size: 1.5em !important;
}
